@font-face{
	font-family: 'mg-default';
	src: url('/font/telegrafico.ttf');
}


@font-face{
	font-family: 'mg-chub';
	src: url('/font/chubgothic_1.ttf');
}

// Telegraphico Polices
.mg-default{
	font-family:'mg-default';
}

.mg-chub{
	font-family:'mg-chub';
}