/*! main.scss v1.0 | GNU  | RIEHL EMMANUEL */

/**
 * Graphic & Iconographic Charter Meet&Greet Africa
 * 
 */
 //Main Banners Color
$mg_color_1: #9656a4;
$mg_color_2: #ff00ff;
//Main Footer foundation
$mg_color_3: #002f9a;
$mg_color_4: #1b111e;
//Writing Police Color
$mg_color_5: #3e3e3e;
//Header Foundation
$mg_color_6: #d5d5d5;
$mg_color_7: #f4f4f4;
//Ads Banner Foundation
$mg_color_8: #E6EBF0;
// more...
$mg_color_9: #ff003c;

//lists for typo
$typo_orientations: left top right bottom; 
$typo_types: margin padding;
$typo_proportions : width height line-height;
$typo_weight : 100 200 300 400 500 600 700 800 900;
$percent: "%";

